:root, [data-sargam-theme="light"] {
    --red8: oklch(30.44% 0.101 26.17);
    --red7: oklch(43.38% 0.151 26.97);
    --red6: oklch(55.17% 0.197 27.37);
    --red5: oklch(62.76% 0.227 27.39);
    --red4: oklch(66.47% 0.198 25.21);
    --red3: oklch(71.36% 0.161 22.89);
    --red2: oklch(87.4% 0.062 19.64);
    --red1: oklch(98.23% 0.008575581404722813 17.302673004451183);
    --yellow8: oklch(41.38% 0.082 97.18);
    --yellow7: oklch(59.05% 0.119 95.65);
    --yellow6: oklch(75.67% 0.153 95.46);
    --yellow5: oklch(86.16% 0.175 95.34);
    --yellow4: oklch(88.08% 0.168 97.07);
    --yellow3: oklch(89.85% 0.149 97.89);
    --yellow2: oklch(95.6% 0.07 98.78);
    --yellow1: oklch(99.34% 0.01073106718970235 95.15924583147066);
    --green8: oklch(31.32% 0.083 148.5);
    --green7: oklch(44.09% 0.122 147.81);
    --green6: oklch(55.99% 0.159 147.49);
    --green5: oklch(63.66% 0.183 147.22);
    --green4: oklch(68.54% 0.164 149.56);
    --green3: oklch(73.91% 0.138 151.77);
    --green2: oklch(88.81% 0.057 155.23);
    --green1: oklch(98.32% 0.007 151.89);
    --teal8: oklch(31.18% 0.052 188.89);
    --teal7: oklch(43.57% 0.073 189.66);
    --teal6: oklch(55.39% 0.094 189.13);
    --teal5: oklch(62.84% 0.107 189.16);
    --teal4: oklch(68.08% 0.105 190.16);
    --teal3: oklch(73.51% 0.093 191.77);
    --teal2: oklch(88.92% 0.043 192.75);
    --teal1: oklch(98.32% 0.007 151.89);
    --lavender8: oklch(27.7% 0.061 314.12);
    --lavender7: oklch(38.1% 0.095 314.62);
    --lavender6: oklch(48.06% 0.125 314.21);
    --lavender5: oklch(54.39% 0.144 314.4);
    --lavender4: oklch(61.74% 0.12 314.62);
    --lavender3: oklch(69.01% 0.097 314.82);
    --lavender2: oklch(87.47% 0.037 314.62);
    --lavender1: oklch(98.18% 0.006 308.4);
    --pink8: oklch(33.08% 0.1 354.04);
    --pink7: oklch(46.99% 0.151 355.63);
    --pink6: oklch(59.82% 0.197 355.72);
    --pink5: oklch(67.97% 0.226 355.85);
    --pink4: oklch(71.58% 0.198 353.42);
    --pink3: oklch(75.96% 0.161 351.77);
    --pink2: oklch(89.37% 0.066 347.5);
    --pink1: oklch(98.54% 0.008 349.24);    
    --silver8: oklch(16.96% 0.002 17.32);
    --silver7: oklch(28.97% 0.002 67.73);
    --silver6: oklch(54.82% 0.006 95.17);
    --silver5: oklch(80.45% 0.009 91.5);
    --silver4: oklch(88.49% 0.01 93.58);
    --silver3: oklch(92.21% 0.007 88.65);
    --silver2: oklch(97.66% 0.002 67.8);
    --silver1: oklch(100% 0 0);
    --text-success: var(--green6);
    --text-error: var(--red6);
    --text-on-color: var(--silver1);
    --text-placeholder: var(--silver5);
    --text-secondary: var(--silver6);
    --text-primary-alt: var(--silver7);
    --text-primary: var(--silver8);
    --support-info: var(--teal5);
    --support-success: var(--green5);
    --support-warning: var(--yellow5);
    --support-error: var(--red5);
    --link-muted: var(--silver8);
    --link-visited: var(--lavender6);
    --link-subtle: var(--teal5);
    --link-hover: var(--teal7);
    --link: var(--teal6);
    --icon-on-color: var(--silver1);
    --icon-disabled: var(--silver5);
    --icon-secondary: var(--silver6);
    --icon-primary: var(--silver7);
    --button-disabled-alt: var(--silver4);
    --button-disabled: var(--silver5);
    --button-danger-active: var(--red7);
    --button-danger-hover: var(--red6);
    --button-danger: var(--red5);
    --button-secondary-active: var(--silver6);
    --button-secondary-hover: var(--silver7);
    --button-secondary: var(--silver8);
    --button-primary-active: var(--teal7);
    --button-primary-hover: var(--teal6);
    --button-primary: var(--teal5);
    --border-strong: var(--silver6);
    --border-default: var(--silver5);
    --border-muted: var(--silver3);
    --background-pink: var(--pink1);
    --background-lavender: var(--lavender1);
    --background-teal: var(--teal1);
    --background-green: var(--green1);
    --background-yellow: var(--yellow1);
    --background-red: var(--red1);
    --background-selected: var(--silver3);
    --background-subtle: var(--silver2);
    --background: var(--silver1);
}